<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nikitagurwani.analyticseventsdebug">

    <application android:theme="@style/BaseTheme">
        <activity
            android:name=".AnalyticsEventsListActivity"
            android:theme="@style/BaseTheme">

        </activity>

        <activity
            android:name=".AnalyticsEventsDetailsActivity"
            android:theme="@style/BaseTheme">

        </activity>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false">
            <meta-data
                android:name="com.nikitagurwani.analyticseventsdebug.AnalyticsEventsInitializer"
                android:value="androidx.startup" />

        </provider>
    </application>
</manifest>
