<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ng.analyticeventsanalyzer">

    <application android:theme="@style/BaseTheme">
        <activity
            android:name="com.ng.analyticeventsanalyzer.ui.AnalyticsEventsListActivity"
            android:theme="@style/BaseTheme">

        </activity>

        <activity
            android:name="com.ng.analyticeventsanalyzer.ui.AnalyticsEventsDetailsActivity"
            android:theme="@style/BaseTheme">

        </activity>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="true">
            <meta-data
                android:name="com.ng.analyticeventsanalyzer.model.AnalyticsEventsInitializer"
                android:value="androidx.startup" />

        </provider>
    </application>
</manifest>
